<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">SEFIR (Secure File Burning On a Remote Machine)</a></strong>
			- A project that i developed using Python and PyGTK during my summer training at 2005 in Information System Head Office. Details are <a href="http://projects.comu.edu.tr/sefir/index-eng.html">here</a>.

		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">PySONDA</a></strong>
			- A console based application that uses SNMP to communicate and gather information(mainly read the ARP table and log the changes) about the active devices in the network. Written with Python. Freshmeat site is <a href="http://freshmeat.net/projects/pysonda/">here</a>. 
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">VENGA (Very Native Galaxy Atmosphere)</a></strong>
			- VENGA is also my final project that i choosed at my university. I used google code to upload my <a href="http://code.google.com/p/venga/">codes</a>. There is not a web site for the project yet. Shorty, it is a web site that reads the XML feed (blog entries) and decides the category of the entry by Bayesian Classify and shows it under some category. So a planet that enables the people read entries by cetagories. I used Python as a core language. Used feedparser to parse feeds and Zemberek to parse words according to the Turkish language rules. And i used Django to develop the web interface and database part. 
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Projects that i hosted at Google</a></strong>
			    - <a href="http://code.google.com/p/araci/">araci</a></br>
    			- <a href="http://code.google.com/p/insrule/">insrule</a></br>
    			- <a href="http://code.google.com/p/nebook/">nebook</a></br>
    			- <a href="http://code.google.com/p/openrebooter/">openrebooter</a></br>
    			- <a href="http://code.google.com/p/opensleeper/">opensleeper</a></br>
    			- <a href="http://code.google.com/p/rebootme/">rebootme</a></br>
    			- <a href="http://code.google.com/p/screenswitcher/">screenswitcher</a></br>
    			- <a href="http://code.google.com/p/venga/">venga</a></br>
    			- <a href="http://code.google.com/p/wifibluetoothosd/">wifibluetoothosd</a></br>
    			- <a href="http://code.google.com/p/xmltowiki/">xmltowiki</a>
		</h5>

    </div>
  </div>
</div>
</section>
