<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">SEFIR (Secure File Burning On a Remote Machine)</a></strong>
			- A project that i developed using Python and PyGTK during my summer training at 2005 in Information System Head Office. Details are <a href="http://projects.comu.edu.tr/sefir/index-eng.html">here</a>.

		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">PySONDA</a></strong>
			- A console based application that uses SNMP to communicate and gather information(mainly read the ARP table and log the changes) about the active devices in the network. Written with Python. Freshmeat site is <a href="http://freshmeat.net/projects/pysonda/">here</a>. 
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">VENGA (Very Native Galaxy Atmosphere)</a></strong>
			- VENGA is also my final project that i choosed at my university. I used google code to upload my <a href="http://code.google.com/p/venga/">codes</a>. There is not a web site for the project yet. Shorty, it is a web site that reads the XML feed (blog entries) and decides the category of the entry by Bayesian Classify and shows it under some category. So a planet that enables the people read entries by cetagories. I used Python as a core language. Used feedparser to parse feeds and Zemberek to parse words according to the Turkish language rules. And i used Django to develop the web interface and database part. 
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5>


    </div>
  </div>
</div>
</section>
